* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

.hero__section {
  margin: 0 auto;
  display: flex;
}

.left {
  width: 50%;
  padding: 2vh 1vw 1vh 10vw;
  display: flex;
  flex-direction: column;
  min-width: 40vw;
  min-height: 80vh;
  flex: 1;
}

.left .navbar {
  display: flex;
  justify-content: space-between;
  margin: 6vh 1vw 2vh 0;
  min-width: 5vw;
  min-height: 5vh;
}

.left .navbar img {
  max-width: 10vw;
  min-height: 5vh;
}

.navbar__menu_container button {
  margin: 1vw;
  font-weight: 600;
  font-size: 1.2vw;
}

.login {
  border: none;
  color: black;
  background-color: transparent;
}

.signup {
  border: none;
  min-width: 7.2vw;
  min-height: 4.5vh;
  color: white;
  background-color: black;
}

.right {
  width: 50%;
  min-height: 60vh;
  flex: 1;
}

.right img {
  float: right;
  display: flex;
  justify-content: flex-end;
  max-width: 40vw;
  max-height: 70vh;
}

.sub__heading_container {
  margin: 3vh 3vw 3vh 0;
  min-width: 35vw;
}

.sub__heading_container h1 {
  margin: 2vw 2vh 2vw 0;
  font-size: 2.5vw;
}

.sub__heading_container p {
  font-size: 1.5vw;
  font-weight: 350;
}

.input__container {
  float: left;
  position: relative;
}

.input__container input {
  min-width: 30vw;
  min-height: 7vh;
  font-size: 1.5vw;
  padding-left: 1vw;
  font-weight: 500;
  border: 1px solid hsl(231, 6%, 76%);
  transition: all 0.1s;
  border-right: none;
}

.input__container input:focus {
  outline-color: #fc8019;
}

.locate {
  position: absolute;
  right: 15vw;
  min-height: 8vh;
  border: none;
  background: transparent;
  font-weight: 500;
  font-size: 1vw;
}

.locate i {
  margin: 0.1vw;
}

.find {
  min-height: 7vh;
  min-width: 7vw;
  background-color: #fc8019;
  color: white;
  font-weight: 600;
  border: none;
  font-size: 1vw;
  position: absolute;
  top: -0.1vh;
}

.popular__cities {
  float: left;
  margin: 2vw 0;
}

.popular__cities h5 {
  font-weight: 450;
  font-size: 1vw;
  color: gray;
  float: left;
  margin: 1vw 0;
}

.popular__cities p {
  float: left;
  font-size: 1.2vw;
  font-weight: 400;
}

.second__section {
  display: flex;
  background-color: #2b1e16;
  justify-content: space-between;
  padding-bottom: 0px;
  height: 400px;
  margin: 0 auto;
}

.card1 {
  color: #ffffff;
  text-align: center;
  height: 250px;
}

.card1 img {
  width: 10vw;
  height: 35vh;
}

.card1 h3 {
  margin-top: 5px;
}

.card1 p {
  width: 260px;
  margin-top: 10px;
  font-size: 15px;
}

.card2 {
  color: #ffffff;
  text-align: center;
  height: 250px;
}

.card2 img {
  width: 10vw;
  height: 35vh;
}

.card2 h3 {
  margin-top: 5px;
}

.card2 p {
  width: 260px;
  margin-top: 10px;
  font-size: 15px;
}

.card3 {
  color: #ffffff;
  text-align: center;
  height: 250px;
}

.card3 img {
  width: 10vw;
  height: 35vh;
}

.card3 h3 {
  margin-top: 5px;
}

.card3 p {
  width: 260px;
  margin-top: 10px;
  font-size: 15px;
}

.third__section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left__section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1vw;
  float: left;
}

.left__section h2 {
  font-size: 40px;
  font-weight: 600;
  width: 20vw;
  margin: 20px;
}

.left__section p {
  font-size: 20px;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 60px;
  width: 400px;
}

.right__images {
  display: flex;
}

.left_img {
  max-width: 50vw;
  max-height: 50vh;
}

.right_img {
  margin-top: 8vh;
  max-width: 50vw;
  max-height: 50vh;
}

.image__ container img {
  font-size: 20px;
}

.footer {
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  background-color: black;
}

.section__1,
.section__2,
.section__3,
.section__4 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 48px;
}

.section__1 h5,
.section__2 h5,
.section__3 h5 {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 25px;
  letter-spacing: 0.8px;
  color: gray;
}

.section__1 a,
.section__2 a,
.section__3 a {
  text-decoration: none;
  color: white;
  margin: 6px;
}

.section__4 img {
  margin: 30px;
}

.bottom__footer {
  padding: 29px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
}

.bottom__footer img {
  width: 142px;
  display: block;
}

.bottom__footer h3 {
  color: white;
}

.social__links_container {
  display: flex;
  gap: 8px;
}

.social__links_container button {
  background-color: black;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__links_container button i {
  color: white;
  font-size: 13px;
}
